#library-navigation {
	position: fixed;
	top: @top-height + @status-height;
	height: @alphabet-navigation-height;
	width: @library-width;
	background: #ddd;

	.artist-buttons
	{
		text-align: center;

		.artist-button {
			display: inline-block;
			width: 125px;
			padding-left: 20px;
			padding-right: 20px;
			font-size: 13px;
			line-height: @alphabet-navigation-height;
			text-decoration: none;
		
			.glyphicon
			{
				font-size: 13px;
				margin-left: 4px;
				line-height: @alphabet-navigation-height;
			}
		}
	}

	.letter {
		display: inline-block;
		text-align: center;
		line-height: @alphabet-navigation-height;
		color: #666;
		cursor: pointer;
		font-size: 13px;

		&.active {
		}

	}
}

#playlist-status
{
	position: fixed;
	left: @library-width;
	top: @top-height + @status-height;
	height: @alphabet-navigation-height;
	width: @library-width;
	background: #ddd;
	line-height: 30px;
	text-align: right;
	padding-right: 5px;
	color: #666;
	font-size: 13px;

	a {
		text-decoration: none;
	}

}