#library
{
	width: @library-width;
	top: @top-height + @status-height + @alphabet-navigation-height;
	bottom: 240px;
	position: fixed;
	overflow-x: hidden;
	overflow-y: auto;
	border-right: solid 2px #ccc;
	margin-bottom: 0px;
	list-style-type: none;
	padding-left: 0px;

	li.artist {
		cursor: pointer;
		text-overflow:ellipsis;
		user-select: none;
		-webkit-user-select: none;
		text-indent: 20px;
		height: 35px;
		line-height: 35px;
		border-bottom: solid 1px #eee;
		margin-left: -100%;

		&.enter
		{
			transition-property: margin;
			transition-duration: 0.3s;
			transition-timing-function: ease;
			margin-left: 0px;
		}

		&:hover {
			background: #eee;
		}

		.btn-group {
		 	margin-right: 12px;

		 	.btn {
		 		width: 25px;
				height: 25px;
				padding: 0;
				margin-top: 4px;
				font-size: 15px;
				color: #444;

				.glyphicon {
					top: 0px;
				}
		 	}
		 }
	}

	li.alphabet-letter {
		font-size: 20px;
		font-weight: bold;
		text-indent: 10px;
		margin-top: 15px;

		&:first-child {
			margin-top: 5px;
		}
	}

	li.album
	{
		text-align: center;

		img {
			max-width: 220px;
			margin-top: 30px;
			width: 25%;
			height: auto;
			border-radius: 50%;
			border: solid 4px #663366;
		}

		h4
		{
			color: #aaa;
		}

		.controls
		{
			a {
				padding-left: 20px;
				padding-right: 20px;
				height: 20px;
				line-height: 20px;
				text-decoration: none;
				font-size: 18px;

				.glyphicon
				{
					line-height: 20px;
					font-size: 16px;
				}
			}
		}

		.songs
		{
			padding-left: 0px;
			padding-right: 0px;
			list-style-type: none;
			text-align: left;
			//background: #F3F3F3;
			border-bottom: dotted 1px #663366;
			//border-top: solid 1px #663366;
			text-indent: 30px;

			li {
				&:first-child
				{
					border-top: 0px;
				}

				&:last-child
				{
					border-bottom: 0px;
				}

				height: 40px;
				line-height: 40px;
				border-bottom: dotted 1px #ccc;
			}
		}


	}
}
