doctype html5

html

	head
		title MusicPlayer
		link(type="text/css",rel="stylesheet",href="styles/bootstrap.min.css")
		link(type="text/css",rel="stylesheet",href="styles/main.css")
		link(href="http://fonts.googleapis.com/css?family=Open+Sans",rel="stylesheet",type="text/css")

	body
		nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
			.navbar-header
				.a.navbar-brand(href="#", id="home") MusicPlayer
			
			form.navbar-form.navbar-right
				.form-group
					input.form-control(type="text", placeholder="Search")
				button(type="submit").btn.btn-default Search

		div#toolbar
			.breadcrumb-folder
			.pull-right
				button(type="button").hide.btn.btn-default#up Back
				span &nbsp;

		div#list-container
			ul#list
		div#playlist
			table.table.table-hover.table-condensed
				thead
					tr
						th Title
						th Album
						th Artist
						th Duration
				tbody


		div#player
			.row
				.col-md-6.col-md-offset-3
					.btn-group
						.btn.btn-default#prev 
							span.glyphicon.glyphicon-backward
						.btn.btn-default#pause
							span.glyphicon.glyphicon-pause
							span.glyphicon.glyphicon-play
						.btn.btn-default#next
							span.glyphicon.glyphicon-forward

					.song-progress(style="width:100%; margin-top: 50px")
						.pull-left#position 0:00
						.pull-right#duration 0:00
						.progress(style="margin: auto; width: 85%")
							.progress-bar.progress-bar-info(style="width: 0%")

					.text-center
						h3#song 
						h4#artist
						h5#album 
			
			.jplayer


		script(type="text/javascript", src="scripts/jquery.2.0.3.min.js")
		script(type="text/javascript", src="scripts/jQuery.jPlayer.2.5.0/jquery.jplayer.min.js")
		script(type="text/javascript", src="scripts/moment.js")
		script(type="text/javascript", src="scripts/main.js")
