li.generic(data-action="navigate")
	span=title
	.btn-group.pull-right
		button(type="button").btn.btn-default.play
			span.glyphicon.glyphicon-play
		button(type="buton").btn.btn-default.add
			span.glyphicon.glyphicon-log-in