tr.item(data-stream=stream)
	td
		span.glyphicon.glyphicon-volume-up.playing(class=(!playing ? 'hide' : ''))
		
		span=song
		br
		span(style="color: #777")
			small=(artist + ', ' + album)
	td.text-center(style="width: 70px")=duration