doctype html5

html

	head
		title MusicPlayer
		link(type="text/css",rel="stylesheet",href="styles/main.css")
		link(href="http://fonts.googleapis.com/css?family=Open+Sans",rel="stylesheet",type="text/css")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1")
		meta(name="apple-mobile-web-app-capable" content="yes")
		link(rel="apple-touch-icon" href="/images/ikon-512.png")
	body

		div#main
			div#status
				img(src="/images/ikon-512.png")
				.pull-right#metadata
				a.visible-xs.visible-sm.pull-right.responsive-library-button
					span.glyphicon.glyphicon.glyphicon-cloud
						
			div#top
				.library
					.a.hide#up
						span.glyphicon.glyphicon-chevron-left
					h2.artist Library

				.playlist
					.arrow-right
					h2 Playlist

			ul#list
				li &nbsp;Loading...
				

			div#alphabet-navigation

			div#playlist
				table.table.table-hover.table-condensed
					tbody

			div#playlist-status
				span.status 0 songs, 0 minutes
				span &nbsp;
				a(href="#") Clear



			div#player
				div.content.hide
					div.text-right.pull-left
						img(src="/images/no-cover.png")#cover

					div.text-left.pull-right
						h3#song &nbsp;
						h4#artist &nbsp;
						h5#album &nbsp;

						.btn-group
							.btn.btn-default#prev
								span.glyphicon.glyphicon-backward
							.btn.btn-default#pause
								span.glyphicon.glyphicon-pause
								span.glyphicon.glyphicon-play
							.btn.btn-default#next
								span.glyphicon.glyphicon-forward

					div#progress
						.indicator

				div.logo
					img(src="/images/ikon-512.png")

				div#jPlayer



		script(type="text/javascript", src="scripts/vendor/jquery.2.0.3.min.js")
		script(type="text/javascript", src="scripts/vendor/jquery.jplayer.min.js")
		script(type="text/javascript", src="scripts/vendor/jquery.sortable.min.js")
		script(type="text/javascript", src="scripts/vendor/jquery.cookie.js")
		script(type="text/javascript", src="scripts/vendor/TweenMax.min.js")
		script(type="text/javascript", src="scripts/app.js")
