doctype html5

html

	head
		title MusicPlayer
		link(type="text/css",rel="stylesheet",href="styles/main.css")
		link(href="http://fonts.googleapis.com/css?family=Open+Sans",rel="stylesheet",type="text/css")

	body
		div#top
			.button.btn.btn-default.hide#up 
				span.glyphicon.glyphicon-circle-arrow-left
			h2#artist Library


		div#list-container
			ul#list
		div#playlist
			table.table.table-hover.table-condensed
				thead
					tr
						th Title
						th Album
						th Artist
						th Duration
				tbody


		div#player
			.row
				.col-md-6.col-md-offset-3
					.btn-group
						.btn.btn-default#prev 
							span.glyphicon.glyphicon-backward
						.btn.btn-default#pause
							span.glyphicon.glyphicon-pause
							span.glyphicon.glyphicon-play
						.btn.btn-default#next
							span.glyphicon.glyphicon-forward

					.song-progress(style="width:100%; margin-top: 50px")
						.pull-left#position 0:00
						.pull-right#duration 0:00
						.progress(style="margin: auto; width: 85%")
							.progress-bar.progress-bar-info(style="width: 0%")

					.text-center
						h3#song 
						h4#artist
						h5#album 
			
			div#jPlayer



		script(type="text/javascript", src="scripts/vendor/jquery.2.0.3.min.js")
		script(type="text/javascript", src="scripts/vendor/jquery.jplayer.min.js")
		script(type="text/javascript", src="scripts/vendor/jquery.sortable.min.js")
		script(type="text/javascript", src="scripts/app.js")
