doctype html5

html

	head
		title MusicPlayer
		link(type="text/css",rel="stylesheet",href="styles/main.css")
		link(href="http://fonts.googleapis.com/css?family=Open+Sans",rel="stylesheet",type="text/css")

	body

		div#status
			img(src="/images/ikon-512.png")
			.pull-right Library: 512 albums, 2156 tracks, 452.3 hours

		div#top
			.library
				.button.btn.btn-default.hide#up
					span.glyphicon.glyphicon-circle-arrow-left
				h2.artist Library

			.playlist
				.arrow-right
				h2 Playlist



		div#list-container
			ul#list


		- var alphabet = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
		- var height = (100 / alphabet.length);

		div#alphabet-navigation
			for a in alphabet
				.letter(style="height: " + height + "%")
					a(href="#" + a)=a

		div#playlist
			table.table.table-hover.table-condensed
				thead
					tr
						th Title
						th Album
						th Artist
						th Duration
				tbody


		div#player
			.row
				.col-md-4.col-md-offset-2
					img(src="/images/no-cover.png").pull-right

				.col-md-4
					h3#song Song
					h4#artist Artist
					h5#album Album

					.btn-group
						.btn.btn-default#prev
							span.glyphicon.glyphicon-backward
						.btn.btn-default#pause
							span.glyphicon.glyphicon-pause
							span.glyphicon.glyphicon-play
						.btn.btn-default#next
							span.glyphicon.glyphicon-forward

			div#progress
				.indicator

			div#jPlayer



		script(type="text/javascript", src="scripts/vendor/jquery.2.0.3.min.js")
		script(type="text/javascript", src="scripts/vendor/jquery.jplayer.min.js")
		script(type="text/javascript", src="scripts/vendor/jquery.sortable.min.js")
		script(type="text/javascript", src="scripts/app.js")
