html, body {
	width: 100%;
	height: 100%;
}

#list
{
	list-style: none;
	padding: 0px;
	width: 30%;
	padding-top: 50px;
	padding-bottom: 200px;
	height: 100%;
	position: fixed;
	overflow: auto;
	border-right: solid 2px #ccc;
}

#playlist
{
	width: 70%;
	position: fixed;
	left: 30%;
	padding-top: 50px;
	padding-bottom: 200px;
	height: 100%;
	position: fixed;
	overflow: auto;
}

#playlist .item
{
	cursor: pointer;
	font-size: 14px;
}

#list li {
	cursor: pointer;
	text-indent: 20px;
	height: 30px;
	line-height: 30px;
	border-bottom: solid 1px #eee;
}

#player
{
	height: 200px;
	width: 100%;
	background: #eeeeee;
	position: fixed;
	bottom: 0px;
	left: 0px;
}

#home {
	cursor: pointer;
}

#list li:hover
{
	background: #eee;
}

#pause.playing
{
	background: #ff0;
}